snippet header "SystemVerilog File Header"
//==============================================================================
// File name: `!v expand('%:t')`
//
// Description: ${1:Description of the file}
//
// Author: `!v g:snips_author`
// Date:   `!v strftime("%Y-%m-%d")`
//==============================================================================
endsnippet
